<%= simple_form_for@entry,html: { multipart: true } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.input :title, label:'Tytuł postu' %>
    <%=  f.hidden_field :nick, value: current_user.nick %>
    <%= f.input_field :date,as: :date, start_month: Date.today.month,
                end_month: Date.today.month + 12, start_year: Date.today.year, end_year: Date.today.year+1,
                order: [:day, :month, :year]%>
    <p style="padding-top: 10px;"><%= f.label :category,label:'Kategoria Postu [zaznacz jedną]'%></p>
    <%= f.input_field :category, as: :radio_buttons, collection: ["Muzyka","Podróże","Styl","Żywność","Film","Technologia","Hobby","Inne"],:checked => "Inne"%>
    <%= f.input :contents, label: 'Treść postu',:default => "First Line \n Second Line \n Third Line" %>
    <%= f.label :youtube_url,label:'Link Youtuba [wymagany]' %>
    <%= f.input_field :youtube_url, value:'https://' , hint: 'np.https://www.youtube.com/watch?v=[film_unique_id]' %>
    <%= f.input :image, label:'Zdjęcie' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Dodaj Post"%>
  </div>
<% end %>
