<%= simple_form_for(@entry) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <p><small><%= f.input_field :nick, value: current_user.nick, disabled:true %></small></p>
    <%= f.input_field :date,as: :date, start_month: Date.today.month,
                end_month: Date.today.month + 12, start_year: Date.today.year, end_year: Date.today.year+1,
                order: [:day, :month, :year] %>
    <%=  f.input_field :category, as: :radio_buttons, collection: ["Music","Travel","Design","Food","Movie","Technology","Hobby","Other"] %>
    <%= f.input :contents, label: 'Post Content' %>
    <%= f.input :image %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
