<%= simple_form_for@entry,html: { multipart: true } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.input :title %>
    <%=  f.hidden_field :nick, value: current_user.nick %>
    <%= f.input_field :date,as: :date, start_month: Date.today.month,
                end_month: Date.today.month + 12, start_year: Date.today.year, end_year: Date.today.year+1,
                order: [:day, :month, :year] %>
    <%=  f.input_field :category, as: :radio_buttons, collection: ["Music","Travel","Design","Food","Movie","Technology","Hobby","Other"] %>
    <%= f.input :contents, label: 'Post Content',:default => "First Line \n Second Line \n Third Line" %>
    <%= f.label :youtube_url %>
    <%= f.input_field :youtube_url,label:'Youtube video url', value:'https://' , hint: 'np.https://www.youtube.com/watch?v=[film_unique_id]' %>
    <%= f.input :image %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
