<%= simple_form_for@user,html: { multipart: true } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :id %>
    <%= f.input :nick %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :password, label: 'Password' %>
    <%= f.input :avatar, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
