<p id="notice"><%= notice %></p>

<h1>Lista użytkowników</h1>

<table>
  <thead>
    <tr>
      <th>Nick</th>
      <th>Nazwa</th>
      <th>Email</th>
      <th>Avatar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nick %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><img class="media-object" src="<%=user.avatar(:img)%>" alt=""></td>

        <td><%= link_to 'Pokaż', user %></td>
        <td><%= link_to 'Edytuj', edit_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj Użytkownika', new_user_path %>


